<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Student Form</title></head>
<body>
<h2 th:text="${student.id != null} ? 'Update Student' : 'Add Student'"></h2>
<form th:action="@{/saveStudent}" th:object="${student}" method="post">
    <input type="text" th:field="*{name}" placeholder="Name" /><br>
    <input type="text" th:field="*{email}" placeholder="Email" /><br>
    <input type="text" th:field="*{course}" placeholder="Course" /><br>
    <button type="submit">Submit</button>
</form>

</body>
</html>
